* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(140, 140, 140);
    text-align: center;
    padding: 8px 14px;
    font-weight: 3500;
}

thead tr,
tfoot tr {
    background-color: #000;
    color: white;
    font-weight: 800;
}